- players = @players.order('rating desc, name asc').select { |player| should_show? player }
.content.nav-view

  #possibility-matrix.content.tab-view
    = render 'possibility_matrix', players: players

#new-game.content.hide
  = render 'games/form'

- buffer_script "PingPong.initRankings();"
